@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');

body{
    background: linear-gradient(90deg , #e66465 0%, #9198e5 100%);
    background-position: center;
    background-size: cover;
    height: fit-content;
}

nav{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    justify-content: center;
    align-items: center;
}